PORT=3000
PUBLIC_BASE_URL=https://yourdomain.ir

MYKET_PACKAGE_NAME=com.example.app
MYKET_ACCESS_TOKEN=
MYKET_PUBLIC_KEY=

# اگر true باشد بعد از Verify موفق، Consume هم صدا زده می‌شود
MYKET_AUTO_CONSUME=true
